@import service.User
@(body : Html, user: Option[User] = None)
<!DOCTYPE html>

<html>
    <head>
        <title></title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="E-commerce LPS in dev">

        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")"/>
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>

    </head>
    <body>
        <div class="container">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">LPS E-commerce</a>
                    </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Produtos</a></li>
                            <li><a href="#">Categoria</a></li>

                            @*
                            <li>
                                <a href="@controllers.common.routes.Application.categoryList()">Categoria</a>
                            </li>
                            *@

                            <li><a href="#">Carrinho</a></li>
                        </ul>

                        <form class="navbar-form navbar-right" action="/login">
                            <button type="submit" class="btn btn-default">
                                <a href="#">
                                    Cadastrar-se
                                </a>
                            </button>

                            <button type="submit" class="btn btn-default">
                                <a href="#">
                                    Entrar
                                </a>
                            </button>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">@body</div>
                </div>

            </div>
        </div>
    </body>
</html>
