@(product: service.Product)(implicit request: Request[AnyContent], messages: Messages)

@import helper._
@import b3.vertical.fieldConstructor

    <div class="well">
        <table style="width: 100%">
            <tr>
                <td>Nome</td>
                <td>@product.name</td>
            </tr>
            <tr>
                <td>Descri&ccedil;&atilde;o</td>
                <td><pre>@product.description</pre></td>
            </tr>
        </table>
        <div>
            <a href="#">
                Adicionar ao carrinho
            </a>
        </div>
        <div>
            <img src="">
        </div>
        <hr />
    </div>
