@import service._
@(currentPage: Page[Category], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash, messages: Messages)

@import b3.vertical.fieldConstructor

    @****************************************
    * Helper generating navigation links    *
    ****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    controllers.common.routes.Application.productList(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
}

    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

<h1>@Messages("Lista de categorias", currentPage.total)</h1>

@Option(currentPage.items).filterNot(_.isEmpty).map { category =>

<table class="table">
    <thead>
        <tr>
            @header(1, "#")
            @header(2, "Nome")
            @header(3, "Descricao")
        </tr>
    </thead>
    <tbody>

    @category.map {
        case (category) => {
            <tr>
                <td>
                    @category.id
                </td>
                <td>
                   @category.name</a>
                </td>
                <td>
                @category.description.getOrElse("No Description")
                </td>
            </tr>
        }
    }

    </tbody>
</table>

<div id="pagination" class="pagination">
    <ul>
        @currentPage.prev.map { page =>
        <li class="prev">
            <a href="@link(page)">&larr; Previous</a>
        </li>
        }.getOrElse {
            <li class="prev disabled">
                <a>&larr; Previous</a>
            </li>
        }
    <li class="current">
        <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + category.size) of @currentPage.total</a>
    </li>
        @currentPage.next.map { page =>
        <li class="next">
            <a href="@link(page)">Next &rarr;</a>
        </li>
        }.getOrElse {
            <li class="next disabled">
                <a>Next &rarr;</a>
            </li>
        }
    </ul>
</div>

}.getOrElse {

    <div class="well">
        <em>Nothing to display</em>
    </div>

}