@(cart: List[service.SessionToCart])(implicit flash: play.api.mvc.Flash, messages: Messages)

@import b3.vertical.fieldConstructor



<div class="panel panel-default">
        <!-- Default panel contents -->
    <div class="panel-heading">Carrinho</div>

        <!-- Table -->
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Descrição</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td></td>
        </tr>
        @cart.map { item =>
            <tr>
                <td>@item.id</td>
                <td>@item.description</td>
                <td>123</td>
                <td>1</td>
                <td>
                    <a class="btn success" id="add" href="@controllers.features.routes.CartFeature.removeItemFromCart(item.id)">
                        @b3.reset('class -> "btn btn-danger"){ <span class="glyphicon glyphicon-remove"></span> Excluir }
                    </a>
                </td>
            </tr>
        }

    </table>
</div>

@b3.buttonType("submit", 'class -> "btn btn-default"){ <span class="glyphicon glyphicon-ok"></span> Comprar }
