@(form: Form[(String,String)])

<div class="well">
    @* verificar se pode ter conflito com classpath *@
    @helper.form(controllers.features.routes.AuthenticationFeature.authenticate) {
        <h2>Entrar no sistema</h2>

        @form.globalError.map { error =>
            <p class="error">
                @error.message
            </p>
        }

        <p>
            <input type="email" name="email" placeholder="Email" id="email" value='@form("email").value'>
        </p>
        <p>
            <input type="password" name="password" id="password" placeholder="Password">
        </p>
        <p>
            <button type="submit" id="loginbutton">Entrar</button>
        </p>
    }
</div>

<script type="text/javascript">
        $("#email").focus();
</script>
